<div class="parent"
     fxLayout.xs="column">

<mat-card class="mdc-card">
  <mat-card-header class="headline">
    Critical Elements for 2019
  </mat-card-header>
  <hr>
  <mat-card-content class="body-1">
   <app-critical-elements></app-critical-elements>
  </mat-card-content>
</mat-card>

<mat-card class="mdc-card">
    <mat-card-header class="headline">
      Manage Critical Elements
    </mat-card-header>
    <hr>
    <mat-card-content>
     <app-manage-critical-elements></app-manage-critical-elements>
    </mat-card-content>
  </mat-card>

<mat-card class="mdc-card">
    <mat-card-header class="headline">
      Profile
    </mat-card-header>
    <hr>
    <mat-card-content>
     <app-user></app-user>
    </mat-card-content>
  </mat-card>

<mat-card class="mdc-card">
    <mat-card-header class="headline">
      Quarterly Review
    </mat-card-header>
    <hr>
    <mat-card-content>
     <app-quartlerly-review></app-quartlerly-review>
    </mat-card-content>
  </mat-card>

<mat-card class="mdc-card">
    <mat-card-header class="headline">
      Quarterly Achievements
    </mat-card-header>
    <hr>
    <mat-card-content>
     <app-achievements></app-achievements>
    </mat-card-content>
  </mat-card>




