
<form class="form" #postForm="ngForm" (ngSubmit)="onAddedCriticalElement(postForm.value)">
    <mat-form-field class='form-field'>
        <input matInput placeholder="Title"
               id="title"
               required
               ngModel
               name="title">
      </mat-form-field>

      <mat-form-field class="form-field">
          <input matInput placeholder="Content"
          id="content"
          required
          ngModel
          name="content">
      </mat-form-field>

      <button mat-button
              class="success"
              type="submit"
              color="accent"
              [disabled]="!postForm.valid"
              (click)="onFetchCriticalElements()">
         SUBMIT
       </button>
</form>

