<div class="parent"
     fxLayout.sm="column">
    <mat-card class="mdc-card">
      Your Quarter 2 Score is 7
     <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title class="spacer">
              Critical Element 1   Score 3
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Critical element content here. </p>
            <hr>
            <p>Goals</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title class="spacer">
              Critical Element 2  Score 2
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Critical element content here. </p>
            <hr>
            <p>Goals</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title class="spacer">
              Critical Element 3   Score 1
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Critical element content here. </p>
            <hr>
            <p>Goals</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title class="spacer">
              Critical Element 4   Score 1
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Critical element content here. </p>
            <hr>
            <p>Goals</p>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

