.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #3F51B5;
}

.sidenav .mat-toolbar {
  background: #3F51B5;
  color: #ffffff
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}
