<div>
  <p *ngIf="loadedCriticalElements.length < 1">No Critical Elements Added</p>
 <mat-accordion multi="true" *ngIf="loadedCriticalElements.length >= 1">
  <mat-expansion-panel class="panel" *ngFor="let criticalElement of loadedCriticalElements">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ criticalElement.title}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ criticalElement.content }} </p>
    <button mat-button
            color='warning'>
            DELETE
    </button>
     <button mat-button
            color='warning'>
            EDIT
    </button>
   </mat-expansion-panel>
 </mat-accordion>
</div>
<div>
  <hr>
  <button mat-button
          color='secondary'
          (click)='onFetchCriticalElements()'>
          GET ELEMENTS
  </button>
  <button mat-button
          color='warning'
          [disabled]='loadedCriticalElements.length < 1'
          (click)="onClearCriticalElements()">
          CLEAR ELEMENTS
  </button>

</div>
