<mat-tab-group>
    <mat-tab label="Quarter 1">
      Critical Element: Build New LMS
      <ul>
        <li>
          In this effort, I was able to research the current space and built a list of functions.
        </li>
      </ul>
      Critical Element: Process Development
      <ul>
        <li>
          For this effort in the quarter I developed a new workflow process optimization matrix.
        </li>
      </ul>
    </mat-tab>

     <mat-tab label="Quarter 2">
      Critical Element: Build New LMS
      <ul>
        <li>
          This quarter I faciliated the process workflow to identify candidates.
        </li>
      </ul>
      Critical Element: Process Development
      <ul>
        <li>
          New process matrix was placed into the testing phase and 150 users were engaged.
        </li>
      </ul>
    </mat-tab>

    <mat-tab label="Quarter 3">
      Critical Element: Build New LMS
      <ul>
        <li>
          <input matInput placeholder="Add input"
            id="input"
            required
            ngModel
            name="input">
        </li>
      </ul>
      Critical Element: Process Development
      <ul>
        <li>
          <input matInput placeholder="Add input"
            id="input"
            required
            ngModel
            name="input">
        </li>
      </ul>
    </mat-tab>

    <mat-tab label="Quarter 4">
      Critical Element: Build New LMS
      <ul>
        <li>
          <input matInput placeholder="Add input"
            id="input"
            required
            ngModel
            name="input">
        </li>
      </ul>
      Critical Element: Process Development
      <ul>
        <li>
          <input matInput placeholder="Add input"
            id="input"
            required
            ngModel
            name="input">
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
