<mat-card class="mdc-card">
    My 2020 Development Goals 
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Develop This
                </mat-panel-title>
              </mat-expansion-panel-header>
                  All the content here.
            </mat-expansion-panel>
         </mat-accordion>
         <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Develop That
                </mat-panel-title>
              </mat-expansion-panel-header>
                  More blah.
            </mat-expansion-panel>
         </mat-accordion>
    </mat-card-content>
</mat-card>
