<mat-card class="mdc-card">
    2020 Organization Goals
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Procure IT Cloud
                </mat-panel-title>
              </mat-expansion-panel-header>
                  All the content here.
            </mat-expansion-panel>
         </mat-accordion>
         <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Investigate Innovation
                </mat-panel-title>
              </mat-expansion-panel-header>
                  More blah.
            </mat-expansion-panel>
         </mat-accordion>
    </mat-card-content>
</mat-card>