@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #BB86FC;
  background-color: #252525;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
