<mat-card class="mdc-card">
    <mat-card-header>
      <mat-card-title>Proto User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Org: GTO</li>
        <li>GS: 15</li>
      </ul>
    </mat-card-content>
  </mat-card>

<mat-card class="mdc-card">
     <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Supervisor: Tom Ford</li>
        <li>Appraisal Period: 01/01/2019 to 12/01/2019</li>
        <li>Status: Establishment = Complete</li>
      </ul>
    </mat-card-content>
  </mat-card>



